         "utf-8";

.putout {
	visibility: hidden;
	position: absolute;
	width: 350px;
	height: auto;
	top: 140px;
	left: 40%;
	margin-left: -60px;
	z-index: 100;
}

.panel-heading a {
	float: right;
	color: #fff;
	top: -20px;
}