.radmenu {
  position: absolute;
  display: -webkit-flex;
  dispaly: -moz-box;
  dispaly: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 10%;
}

.radmenu > a {
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
.radmenu > a.show {
  display: flex !important;
}
.radmenu li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}
.radmenu a {
  position: absolute;
  width: 145px;
  height: 145px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  display: none;
  text-decoration: none;
  color: #333;
  transition: all 1s ease;
  box-shadow: 0 0 15px #222;
  font-family: "segoe ui";
  font-weight: 200;
  font-size: 16px;
}

.radmenu > a
{
	width: 120px;
  	height: 120px;
}
.radmenu > a img
{
	width: 120px;
  	height: 120px;
}

.radmenu ul a
{
	width: 100px;
  	height: 100px;
}
.radmenu ul a img
{
	width: 100px;
  	height: 100px;
}

.radmenu .selected {
  background: rgba(51, 51, 51, 0.3);
  display: flex;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  color: #f1f1f1;
  box-shadow: 0 0 10px #f1f1f1;
}


.radmenu .selected + ul > li > a {
  display: flex;
}

.position1{margin-top: 105%;margin-left: 20%;}

.position2{margin-top: 105%;margin-left: 20%;}


.selectedhascircleone{
	
}

.radmenu .selectedhascircleone + ul > li:nth-child(1) {
  -webkit-transform: rotate(243deg) translateX(65px);
  transform: rotate(243deg) translateX(65px);
}

.radmenu .selectedhascircleone + ul > li:nth-child(1) > a > img{
  -webkit-transform: rotate(-243deg);
  transform: rotate(-243deg);
} 


.selectedhascircletwo{
	
}

.radmenu .selectedhascircletwo + ul > li:nth-child(1) {
  -webkit-transform: rotate(198deg) translateX(65px);
  transform: rotate(198deg) translateX(65px);
}

.radmenu .selectedhascircletwo + ul > li:nth-child(1) > a > img{
  -webkit-transform: rotate(-198deg);
  transform: rotate(-198deg);
}

.radmenu .selectedhascircletwo + ul > li:nth-child(2) {
  -webkit-transform: rotate(288deg) translateX(65px);
  transform: rotate(288deg) translateX(65px);
}

.radmenu .selectedhascircletwo + ul > li:nth-child(2) > a > img{
  -webkit-transform: rotate(-288deg);
  transform: rotate(-288deg);
}



.selectedhascirclethree{
	
}

.radmenu .selectedhascirclethree + ul > li:nth-child(1) {
  -webkit-transform: rotate(180deg) translateX(65px);
  transform: rotate(180deg) translateX(65px);
}

.radmenu .selectedhascirclethree + ul > li:nth-child(1) > a > img{
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.radmenu .selectedhascirclethree + ul > li:nth-child(2) {
  -webkit-transform: rotate(243deg) translateX(65px);
  transform: rotate(243deg) translateX(65px);
}

.radmenu .selectedhascirclethree + ul > li:nth-child(2) > a > img{
  -webkit-transform: rotate(-243deg);
  transform: rotate(-243deg);
}
.radmenu .selectedhascirclethree + ul > li:nth-child(3) {
  -webkit-transform: rotate(306deg) translateX(65px);
  transform: rotate(306deg) translateX(65px);
}

.radmenu .selectedhascirclethree + ul > li:nth-child(3) > a > img{
  -webkit-transform: rotate(-306deg);
  transform: rotate(-306deg);
}


.selectedhascirclefour{
	
}

.radmenu .selectedhascirclefour + ul > li:nth-child(1) {
  -webkit-transform: rotate(198deg) translateX(65px);
  transform: rotate(198deg) translateX(65px);
}

.radmenu .selectedhascirclefour + ul > li:nth-child(1) > a > img{
  -webkit-transform: rotate(-198deg);
  transform: rotate(-198deg);
}

.radmenu .selectedhascirclefour + ul > li:nth-child(2) {
  -webkit-transform: rotate(288deg) translateX(65px);
  transform: rotate(288deg) translateX(65px);
}

.radmenu .selectedhascirclefour + ul > li:nth-child(2) > a > img{
  -webkit-transform: rotate(-288deg);
  transform: rotate(-288deg);
}
.radmenu .selectedhascirclefour + ul > li:nth-child(3) {
  -webkit-transform: rotate(378deg) translateX(65px);
  transform: rotate(378deg) translateX(65px);
}

.radmenu .selectedhascirclefour + ul > li:nth-child(3) > a > img{
  -webkit-transform: rotate(-378deg);
  transform: rotate(-378deg);
}
.radmenu .selectedhascirclefour + ul > li:nth-child(4) {
  -webkit-transform: rotate(468deg) translateX(65px);
  transform: rotate(468deg) translateX(65px);
}

.radmenu .selectedhascirclefour + ul > li:nth-child(4) > a > img{
  -webkit-transform: rotate(-468deg);
  transform: rotate(-468deg);
}


.selectedhascirclefive{
	
}

.radmenu .selectedhascirclefive + ul > li:nth-child(1) {
  -webkit-transform: rotate(180deg) translateX(65px);
  transform: rotate(180deg) translateX(65px);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(1) > a > img{
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(2) {
  -webkit-transform: rotate(252deg) translateX(65px);
  transform: rotate(252deg) translateX(65px);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(2) > a > img{
  -webkit-transform: rotate(-252deg);
  transform: rotate(-252deg);
}
.radmenu .selectedhascirclefive + ul > li:nth-child(3) {
  -webkit-transform: rotate(324deg) translateX(65px);
  transform: rotate(324deg) translateX(65px);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(3) > a > img{
  -webkit-transform: rotate(-324deg);
  transform: rotate(-324deg);
}
.radmenu .selectedhascirclefive + ul > li:nth-child(4) {
  -webkit-transform: rotate(396deg) translateX(65px);
  transform: rotate(396deg) translateX(65px);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(4) > a > img{
  -webkit-transform: rotate(-396deg);
  transform: rotate(-396deg);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(5) {
  -webkit-transform: rotate(468deg) translateX(65px);
  transform: rotate(468deg) translateX(65px);
}

.radmenu .selectedhascirclefive + ul > li:nth-child(5) > a > img{
  -webkit-transform: rotate(-468deg);
  transform: rotate(-468deg);
}



.selectedhascirclesix{
	
}

.radmenu .selectedhascirclesix + ul > li:nth-child(1) {
  -webkit-transform: rotate(180deg) translateX(65px);
  transform: rotate(180deg) translateX(65px);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(1) > a > img{
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(2) {
  -webkit-transform: rotate(240deg) translateX(65px);
  transform: rotate(240deg) translateX(65px);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(2) > a > img{
  -webkit-transform: rotate(-240deg);
  transform: rotate(-240deg);
}
.radmenu .selectedhascirclesix + ul > li:nth-child(3) {
  -webkit-transform: rotate(300deg) translateX(65px);
  transform: rotate(300deg) translateX(65px);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(3) > a > img{
  -webkit-transform: rotate(-300deg);
  transform: rotate(-300deg);
}
.radmenu .selectedhascirclesix + ul > li:nth-child(4) {
  -webkit-transform: rotate(360deg) translateX(65px);
  transform: rotate(360deg) translateX(65px);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(4) > a > img{
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(5) {
  -webkit-transform: rotate(420deg) translateX(65px);
  transform: rotate(420deg) translateX(65px);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(5) > a > img{
  -webkit-transform: rotate(-420deg);
  transform: rotate(-420deg);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(6) {
  -webkit-transform: rotate(480deg) translateX(65px);
  transform: rotate(480deg) translateX(65px);
}

.radmenu .selectedhascirclesix + ul > li:nth-child(6) > a > img{
  -webkit-transform: rotate(-480deg);
  transform: rotate(-480deg);
}

